.record-details {
	.page-title {
		font-size: 28px;
		margin-top: 24px;
		color: #3283FF;
		font-weight: 600;
	}

	.avatar-container {
		margin: auto;
		margin-top: 20px;
		width: 60%;
		max-width: 1000px;
		.avatar {
			width: 100%;
		}
	}
	.description-container {
		margin: auto;
		width: 60%;
		max-width: 1000px;
		.description-title {
			color: #3283FF;
			font-weight: 600;
			text-align: left;
		}
		.description-text {
			text-align: left;
		}
	}
}

.list-loading {
	color: #2F81FF;
	font-size: 22px;
	margin-top: 48px;
}